html{
  font-size:18px;
}

body{
  font-family: Helvetica;
  line-height: 1.4;
}

.main-image{
  background-image: url("glasses-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:30rem;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (max-width:700px){
  .main-image{
    height:22rem;
  }
}

@media only screen and (max-width:560px){

  .main-image{
    height:17rem;
    align-items: flex-start;
  }
}

/* Heading Banner of the Main Image Section */
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:960px;
  margin-top: 1rem;
  background-color: maroon;
  height:3rem;
  color: white;
  margin-right: 4rem;
}

#small{
  display:none;
}

.logo{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img{
  margin-left: 2rem;
  margin-right: 1rem;
  height:1.5rem;
}

.logo h3{
  font-size: 1rem;
}

.header nav {
  padding-top:1rem;
  padding-bottom: 1rem;
  margin-right: 2rem;
}

.header nav span {
  padding-right:2rem;
}

@media only screen and (max-width:700px){
  .header{
    width:100%;
    margin-top:0;
    margin-right:0;
  }
  .logo img{
    margin-left: 1rem;
  }

  .logo h3{
    font-size: 0.8rem;
  }

  .header nav {
    margin-right: 1rem;
  }

  .header nav span {
    padding-right:1rem;
  }

}


@media only screen and (max-width:560px){
  .header{
    width:100%;
    margin-top: 0;
    margin-right: 0;
  }

  #small{
    display: inline;
    margin-right: 2rem;
  }

  .logo img{
    margin-right: 0;
    margin-left: 2rem;
  }
  .logo h3{
    display: none;
  }

  .header nav {
    display: none;
  }
}

/* THE box section of the Main Image Section */

.box{
  background-color: white;
  color: black;
  opacity:0.8;
  padding: 1.5rem 5rem;
  font-size:2rem;
  font-weight:bold;
  line-height: 1.2;
  margin-top: 10rem;
  margin-right: 2rem;
}

@media only screen and (max-width:700px){
  .box{
    padding:0.75rem 4rem;
    font-size: 1.33rem;
    margin-top: 5rem;
  }
}

@media only screen and (max-width:560px){
  .box{
    margin-top: 9rem;
    font-size:1rem;
    padding: 1rem;
    text-align: center;
    margin-right: 0;
    width:100%;
  }
}

/* ICONS SECTION */

.icons{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top:3rem;
  padding-bottom: 3rem;
  width:100%;
}

.icon{
  height:8rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 7rem;
}

.one{
  width:3.5rem;
  height:4rem;
  margin-bottom: 1rem;
}

.two, .three{
  width:5rem;
}

.two{
  height:2rem;
  margin-bottom: 3rem;
}

.three{
  height:3rem;
  margin-bottom: 2rem;
}

.icon h5{
  text-align: center;
}

@media only screen and (max-width:700px){

  .icon{
    margin-right: 3rem;
  }

 .one{
    width:3.5rem;
  }

  .two, .three{
    width:4rem;
  }
}

@media only screen and (max-width:560px){
  .icons{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-top:3.77rem;
    padding-bottom: 3.77rem;
  }

  .icon{
    margin-right: 0;
    margin-bottom: 1.75rem;
  }

  .icon h5{
    text-align: center;
    font-size: 0.77rem;
  }
}


/*CONTENT SECTION */

.Information{
  display:flex;
  justify-content: center;
  width:100%;
  align-items: flex-start;
}


.Info{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width:35%; /* Make the width of the whole flex item and container be 35% of the
  whole section */
  margin-left:5%;
}

.topic{
  width:10rem;
  font-size: 1rem;
  font-weight: bold;
  height:auto;
  margin-bottom: 1rem;
  background-color: maroon;
  color:white;
  text-align: center;
}

.description{
  width:100%;/* THis will be 100% the width of its flex container*/
  margin-bottom: 5rem;}

  @media only screen and (max-width:560px){

    .Information{
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .Info{
      width:100%;
      margin-left:0;
    }

    .topic{
      width:100%;
      font-size: 1rem;
    }

    .description{
      width:100%;
      margin-bottom: 4rem;}
  }

footer{
background-color: skyblue;
padding:4rem;
display:flex;
align-items: center;
justify-content: flex-start;
}

footer img{
  height:1.5rem;
  margin-right:1rem;
}


@media only screen and (max-width:560px){
  footer{
    justify-content: center;
  }

  footer p{
    display:none;
  }
}
